pynvim < 0.5 ; python_version < '3.7'
pynvim==0.5 ; python_version >= '3.7'
pytest==8.3.2 ; python_version >= '3.12'
coverage==7.6.1 ; python_version >= '3.12'
typing-extensions ; python_version < '3.8'
