name: (Neo)vim
on:
  push:
    branches-ignore:
      - master
      - 'dependabot/**'
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: Set up python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: '3.13'
        cache: 'pip'
        cache-dependency-path: 'test/requirements.txt'
    - name: Install
      run: |
        # https://github.com/actions/setup-python/issues/842
        pip install --upgrade --force pip setuptools
        pip install -r test/requirements.txt
        pip install vim-vint
    - name: Lint
      run: vint autoload ftplugin plugin -wt
    - name: Run python tests
      run: coverage run -m pytest -v && coverage xml -o pytest.xml
    - name: Upload coverage report
      uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 #v5.5.1
      with:
        files: ./pytest.xml
        disable_search: true
        token: ${{ secrets.CODECOV_TOKEN }}

  build:
    needs: coverage
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        vim-version: [v8.1.2269, v8.2.4049, v9.0.0304, master]
        python-version: ['3.7', '3.8', '3.9', '3.10', '3.11', '3.12', '3.13']
    env:
      LOG: python-${{ matrix.python-version }}-bench.log
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: Set up python ${{ matrix.python-version }}
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
        cache-dependency-path: 'test/requirements.txt'

    - name: Install latest pip
      run: |
        pip install --upgrade pip

    - name: Install python modules
      run: pip install -r test/requirements.txt

    - name: Set up plugin test environment
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        repository: blueyed/vader.vim
        ref: display-source-with-exceptions
        path: vader.vim
        fetch-depth: 1

    - name: Install neovim (current stable)
      if: ${{ !(endsWith(matrix.python-version, '7') || endsWith(matrix.python-version, '8')) }}
      uses: rhysd/action-setup-vim@19e3dd31a84dbc2c5445d65e9b363f616cab96c1 # v1.6.0
      id: neovim-stable
      with:
        neovim: true
        version: stable

    - name: Install a neovim version supporting Python < 3.9
      if: ${{ endsWith(matrix.python-version, '7') || endsWith(matrix.python-version, '8') }}
      uses: rhysd/action-setup-vim@19e3dd31a84dbc2c5445d65e9b363f616cab96c1 # v1.6.0
      id: neovim-oldstable
      with:
        neovim: true
        version: 'v0.11.0'

    - name: Test plugin on vim ${{ matrix.vim-version }}
      if: ${{ startsWith(matrix.python-version, '3.8') }}
      run: |
        git clone --branch ${{ matrix.vim-version }} https://github.com/vim/vim.git vim-src
        pushd vim-src
        git grep -l '# undef _POSIX_THREADS' | xargs -I% sed -i '/# undef _POSIX_THREADS/d' %
        CFLAGS=-D_POSIX_THREADS ./configure --prefix=/usr/local --with-features=normal \
            --enable-python3interp=dynamic \
            --with-python3-config-dir=$(find $Python_ROOT_DIR -iname Makefile | xargs dirname)
        make && sudo make install && popd
        /usr/local/bin/vim --startuptime vim_bench.log -ENsu test/vimrc -c '+Vader! test/vader/*' > /dev/null
        .github/scripts/collect_start_times vim vim-${{ matrix.vim-version }}-$LOG

    - name: Test plugin on current stable neovim
      if: ${{ !(endsWith(matrix.python-version, '7') || endsWith(matrix.python-version, '8')) }}
      run: |
        "${{ steps.neovim-stable.outputs.executable }}" --startuptime nvim_bench.log -ENsu test/vimrc -c '+Vader! test/vader/**/*.vader' > /dev/null

    - name: Test plugin on neovim's legacy python providers
      if: ${{ endsWith(matrix.python-version, '7') || endsWith(matrix.python-version, '8') }}
      run: |
        "${{ steps.neovim-oldstable.outputs.executable }}" --startuptime nvim_bench.log -ENsu test/vimrc -c '+Vader! test/vader/**/*.vader' > /dev/null

    - name: Check neovim startup times
      run: |
        .github/scripts/collect_start_times nvim neovim-$LOG

    - name: Save startup times
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: plugin-load-stats@vim-${{ matrix.vim-version }}-py-${{ matrix.python-version }}
        path: '**/*python*.log'

  merge:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Merge artifacts
        uses: actions/upload-artifact/merge@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: plugin-load-stats
          delete-merged: true
