name: Release
on:
  push:
    tags:
      - '**'
jobs:
  make_release:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Prepare changelog
      run: |-
        echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
        echo -e $(.github/scripts/changelog) > release_notes.txt
    - name: Create release
      uses: ncipollo/release-action@v1
      with:
        bodyFile: release_notes.txt
        name: ${{ env.RELEASE_VERSION }}
        draft: true
        allowUpdates: true
        replacesArtifacts: true
        token: ${{ secrets.GITHUB_TOKEN }}
