name: Release
on:
  push:
    tags:
      - '**'
jobs:
  make_release:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        fetch-depth: 0
    - name: Prepare changelog
      run: |-
        echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
        echo -e $(.github/scripts/changelog) > release_notes.txt
    - name: Create release
      uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
      with:
        body_path: release_notes.txt
        name: ${{ env.RELEASE_VERSION }}
        draft: true
