name: Release
on:
  push:
    tags:
      - '**'
jobs:
  make_release:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0
    - name: Prepare changelog
      run: |-
        echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
        echo -e $(.github/scripts/changelog) > release_notes.txt
    - name: Create release
      uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
      with:
        body_path: release_notes.txt
        name: ${{ env.RELEASE_VERSION }}
        draft: true
